table.list, table.profile {
  width: 100%;
}

table.details {
  margin: 0 auto;
}

table.profile {
  td.avatar {
    padding: 0 !important;
    vertical-align: top;
  }
  td.bold {
    min-width: 75px;
  }
}

table {
  caption {
    display: none;
  }
  tr th {
    text-align: center;
    cursor: pointer;
  }

  tr {
    td {
      padding: 2px 20px;
    }
    &.mag {
      text-align: center;
    }
  }
}
